<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetario</title>
</head>
<body>
    <%- include('partials/header', {userId, page}) %>
    <h1>Recetario API</h1>
    <p>Una pequeña API para la aplicacion Recetly. 
        Parte del proyecto para la materia: Desarrollo de aplicaciones moviles para iOS.
    </p>
    <h2>Algunas de las acciones que se pueden realizar son:</h2>
    <ul>
        <li><a href="/recipe/all">Ver todas las recetas</a></li>
        <li><a href="/recipe/form">Agregar una receta</a></li>
    </ul>
</body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  ul {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  li {
    height: 3rem;
    background: #868686;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 0.25rem;
    border: 2px solid black;
    transition: background 0.3s ease-in-out;
    
    & a {
        width: 100%;
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 1.8rem;
        margin: 0 0 0 1rem;
        transition: color 0.3s ease-in-out;
    }
  }

  li:hover {
    background: black;

    & a {
        color: white
    }
  }

  p {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
</style>