<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
</head>

<body>
    <form action="/user/auth/v1/login" method="post">
        <h1>Iniciar sesion</h1>
        <label for="emailInput">Correo electronico</label>
        <input name="emailInput" type="email" placeholder="Intruduce tu correo electronico">
        <label for="passwordLabel">Contraseña</label>
        <input type="password" name="passwordInput" placeholder="Introduce tu contraseña">

        <input type="submit" value="Iniciar sesion">
        <a href="/">Volver al inicio</a>
    </form>

</body>

</html>

<style>
    body {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html {
        font-size: 16px;
        font-family: system-ui, sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    input {
        min-height: 2rem;
        width: 85%;
        margin: 0 auto;
        padding-left: 8px;
    }

    input[type="submit"] {
        margin: 2rem auto 0 auto;
        font-size: 1.3rem;
        padding: 0.5rem 0;
        border-radius: 8px;
    }

    form {
        display: flex;
        flex-direction: column;

        width: 96%;
        background: #ccc;
        border-radius: 4px;
        padding: 0.5rem;
    }

    a {
        padding: 0.5rem 0;
        background: #222222;
        text-align: center;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        width: 85%;
        margin: 1rem auto 1rem auto;
    }

    label {
        width: 85%;
        font-size: 1.5rem;
        margin: 0.25rem 0 0.15rem 1.5rem;
    }
</style>