<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header', {userId, page:'profile'}) %>
        <main>
            <article class="user-img user-data">
                <img alt="Imagen de perfil">
            </article>
            <section class="user-data">
                <h1></h1>
                <h2></h2>
            </section>

            <section class="recipes">

            </section>
        </main>
</body>

</html>

<script>
    const userId = '<%= userId %>'
    document.addEventListener('DOMContentLoaded', async () => {
        const $pfp = document.querySelector('img')
        const $name = document.querySelector('h2')
        const $username = document.querySelector('h1')
        const $recipes = document.querySelector('.recipes')

        const userData = await fetch(`/user/get-data/${userId}`)
        const data = await userData.json()
        console.log(data)

        $pfp.setAttribute('src', data.user.user_pfp)
        $username.innerText = data.user.user_username
        $name.innerText = data.user.user_name + ' ' + data.user.user_last_name

        const recipes = Array.from(data.recipes)
        const recipeCount = data.recipeCount
        console.log(recipes)

        for (i = 0; i < recipeCount; i++) {
            recipeCard($recipes)
        }

        const recipeCardA = Array.from($recipes.querySelectorAll('.recipeCard'))
        const recipeCardImg = Array.from($recipes.querySelectorAll('.recipeCard img'))
        const recipeCardSpan = Array.from($recipes.querySelectorAll('.recipeCard span'))
        console.log(recipeCardImg)
        console.log(recipeCardA)

        recipeCardA.forEach((r, i) => {
            cardAtributte(recipeCardImg[i], 'src', data.recipes[i].recipe_img[0])
            cardAtributte(recipeCardA[i], 'href', `/recipe/view/${data.recipes[i].recipe_id}`)
            cardText(recipeCardSpan[i], data.recipes[i].recipe_name)
        })

        function recipeCard(father) {
            const a = document.createElement('a')
            a.setAttribute('href', '')
            a.setAttribute('class', 'recipeCard')

            const span = document.createElement('span')

            const img = document.createElement('img')
            img.setAttribute('src', null)
            img.setAttribute('class', 'recipe')
            img.setAttribute('alt', 'Imagen de una receta')

            a.appendChild(span)
            a.appendChild(img)

            father.appendChild(a)
        }

        function cardAtributte (element, attribute, value) {
            element.setAttribute(attribute, value)
        }

        function cardText (element, value) {
            element.innerText = value
        }

    })
</script>

<style>
    html {
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100dvh;
        width: 100dvw;
    }

    main {
        width: 98%;
        height: 100%;
        margin: 0 auto;
        background: green;
    }

    article.user-img {
        width: 50%;
        border-radius: 50%;
        background: red;
        aspect-ratio: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        overflow: hidden;
    }

    article img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    section.user-data {
        width: 96%;
        min-height: 10rem;
        height: auto;
        background: blue;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }

    section.recipes {
        width: 96%;
        min-height: 10rem;
        background: rgb(0, 255, 213);
        margin: 0.5rem auto;
        padding: 0.5rem;

        & a {
            display: flex;
            flex-direction: column;
        }
    }

    h1 {
        font-size: 2rem;
    }

    img.recipe {
        aspect-ratio: 16/9;
        width: 400px;
        object-fit: cover;
    }
</style>