<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header', {userId, page:'profile'}) %>
        <main>
            <article class="user-img">
                <img alt="Imagen de perfil">
            </article>
            <section class="user-data">
                <h1></h1>
                <h2></h2>
            </section>
        </main>
</body>

</html>

<script>
    const userId = '<%= userId %>'
    document.addEventListener('DOMContentLoaded', async () => {
        const $pfp = document.querySelector('img')
        const $name = document.querySelector('h2')
        const $username = document.querySelector('h1')

        const userData = await fetch(`/user/get-data/${userId}`)
        const data = await userData.json()

        $pfp.setAttribute('src', data[0].user_pfp)
        $username.innerText = data[0].user_username
        $name.innerText = data[0].user_name + ' ' + data[0].user_last_name
    })
</script>

<style>
    html {
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100dvh;
        width: 100dvw;
    }

    main {
        width: 98%;
        height: 100%;
        margin: 0 auto;
        background: green;
    }

    article {
        width: 70%;
        border-radius: 50%;
        background: red;
        aspect-ratio: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        overflow: hidden;
    }

    article img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    section {
        width: 96%;
        min-height: 10rem;
        background: blue;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }

    h1 {
        font-size: 2rem;
    }
</style>